.info {
    padding: 0 0.44rem;
    box-sizing: border-box;
    header {
        // display: flex;
        // align-items: center;
        margin-top: 0.4rem;
        .logo {
            display: block;
            margin-right: 0.14rem;
            width: 0.48rem;
            height: 0.6rem;
            background: url('~static/images/logo.png') top left no-repeat;
            background-size: cover;
        }
        p {
            color: #dc2439;
            font-size: 0.14rem;
            text-align: center;
        }
    }
    .example-img {
        display: block;
        margin: 0.05rem auto 0;
        width: 2.87rem;
        height: 1.82rem;
        background: url('~static/images/example.png') top left no-repeat;
        background-size: cover;
    }
    .congratulation {
        margin-top: 0.13rem;
        &-label {
            display: block;
            color: #333333;
            font-size: 0.14rem;
            margin-bottom: 0.05rem;
        }
        &-input {
            display: block;
            width: 100%;
            height: 0.36rem;
            background: #f6f6f6;
            padding: 0.05rem 0.15rem;
            box-sizing: border-box;
            border: 0;
            outline: none;
        }
    }
    .upload-container {
        margin-top: 0.13rem;
        .upload-label {
            display: block;
            margin-bottom: 0.05rem;
        }
    }
    .name,
    .tel,
    .address {
        margin-top: 0.13rem;
        &-input {
            display: block;
            width: 100%;
            height: 0.36rem;
            background: #f6f6f6;
            padding: 0.05rem 0.15rem;
            box-sizing: border-box;
            border: 0;
            outline: none;
        }
    }
    .submit-btn {
        display: block;
        margin: 0.16rem auto 0;
        width: 1.8rem;
        height: 0.36rem;
        color: #ffffff;
        background: #cc2032;
        border: 0;
        border-radius: 100px;
        outline: none;
    }
}
