.music-icon {
    position: fixed;
    z-index: 10;
    top: 0.2rem;
    right: 0.2rem;
    width: 0.32rem;
    height: 0.32rem;
    background: url('~static/images/music-icon.png') top left no-repeat;
    background-size: cover;
}

.animation {
    animation: play 5s linear infinite;
}

@keyframes play {
    100% {
        transform: rotate(1turn);
    }
}
